.home-main {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-banner {
    width: 85%;
    padding: 1rem 0;
}

.home-banner img {
    width: 100%;
}

