section {
    /* border: 1px solid red; */
    width: 85%;
    padding: 16px 0 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
}

.main-title span {
    font-size: 16px;
    color: #EF4372;
    font-weight: 550;
}

.main-title span i{
    font-size: 13px;
}

.section h3{
    font-size: 20;
}

.sub-seactions {
    /* height: 256px; */
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.sub-seactions img{
    height: 201px;
    padding: 0.25rem;
    cursor: pointer;
}