nav {
    height: 85px;
    /* border: 1px solid black; */
    padding: 20px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#ECDDFF, #FFFFFF);
}

nav .logo {
    margin-top: 10px;
}

nav .address {
    width: 274px;
    /* border: 1px solid black; */
}

.address h3 {
    font-size: 18px;
    line-height: 30px;
}

.address h5 {
    font-size: 13px;
    font-weight: 600;
}

.address i {
    margin-left: 5px;
}

nav .search-bar {
    width: 873px;
    /* border: 1px solid black; */
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
}


.search-bar input {
    width: 96%;
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
}

.login, .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar input::placeholder {
    font-size: 15px;
    color: #374151;
}

.login .fa-user{
    cursor: pointer;
}

.fa-user, .fa-cart-shopping{
    font-size: 17px;
}

.login span, .cart span{
    font-size: 13px;
    margin-top: 5px;
}
